@import "tailwindcss";

* {
  font-family: Outfit;
}


/* Hide scrollbar but allow scrolling */
.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scroll-hide {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}